/* The sidebar menu */
@import url("https://fonts.googleapis.com/css?family=Rajdhani");

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-bottom: 20px;
    background:  #3b328b;
}

/* The navigation menu links */
.sidenav span {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Rajdhani", sans-serif;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav span:hover {
  color: #a4ffb0;
  font-weight: bold;
  text-shadow: 0 10px 20px 0 rgba(45, 148, 117, 0.2);
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 10px 10px;
  font-family: "Rajdhani", sans-serif;
  background:  white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) and (max-width: 600px) {
  .sidenav {padding-top: 15px;};
  .sidenav a {font-size: 18px;};
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  } 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600; }

.primary_btn {
  display: inline-block;
  background: -webkit-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: -moz-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: -ms-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: -o-linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background-size: 200% auto;
  padding: 0px 35px;
  color: #222222;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: 0px 10px 30px rgba(163, 255, 177, 0.2);
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-transform: uppercase;
}

.primary_btn:hover {
  background-position: right center;
  color: #22195e; 
}

.gradient_btn {
  padding: 2px 2px 2px 2px;
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border: double 2px transparent;
  border-radius: 5px;
  background-image: linear-gradient(#342b7e, #3b328b), radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-image: -webkit-linear-gradient(#342b7e, #3b328b), -webkit-radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-image: -moz-linear-gradient(#342b7e, #3b328b), -moz-radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-image: -ms-linear-gradient(#342b7e, #3b328b), -ms-radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-image: -o-linear-gradient(#342b7e, #3b328b), -o-radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gradient_btn:hover {
  color: #22195e;
  box-shadow: 0px 10px 30px rgba(130, 82, 250, 0.2);
  border-radius: 5px;
  background: -webkit-linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
  background: -moz-linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
  background: -o-linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
  background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%); 
} 

.gif-background {
  position: fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  text-align: center;
  padding-top: 100px;
  color: white;
  background-image: url("http://cdn.lowgif.com/full/cd13a280d6fa97e5-pixilart-fireworks-gif-by-peppermint.gif");
  background-repeat: no-repeat;
  background-size: cover; 
}

#quiz-form {
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
}

.front-page {
  text-align: center;
}

#delete-user-button {
  position: absolute;
  bottom: 30px;
  left: 52%;
  margin-left: -50px;
}

/* Float four columns side by side */
.card-column {
  float: left;
  width: 50%;
  padding: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.question-cards{margin: 0 -5px;}

/* Clear floats after the columns */
.question-cards:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 24px;
  text-align: left;
  background-color: white;
}
.card:hover {
  box-shadow: 0 10px 20px 0 rgba(50, 30, 97, 0.2); /* this adds the "card" effect */
}

/* generate quiz */
.slide{
  position: absolute;
  left: 0px;
  top: 70px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
	color: #333;
  font-weight: 300;
  text-align: center;
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.question{
  font-size: 20px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
.answers label:hover {
  box-shadow: 5px 5px 10px 5px rgba(50, 30, 97, 0.2);
}

.buttons{
  position: absolute;
  left: 0px;
  top: 300px;
  width: 100%;
  z-index: 1;
}

#main-progress-bar {
  width: 100%;
  background-color: #929292;
  margin-bottom: 5px;
}

#user-progress-bar {
  width: 0%;
  height: 30px;
  background-color: #3fcaff;
  margin-bottom: 5px;

}

.user-results {
  position: relative;
  top:50px;
  margin: 0 auto;
  text-align: center;
}

.list-results {
  position: relative;
  top:50px;
  margin: 0 auto;
  text-align: center;
}

ol#ranking li {
  font-size: 20px;
}

.row-score {
  position: relative;
  display: block;
  width: 600px;
  height: 40px;
  margin: 0 auto;
  border-bottom: 1px solid #AFAFAF;
}

.row-score:nth-child(1) {
  background: gold;
}

.row-score:nth-child(2) {
  background: #c0c0c0;
}

.row-score:nth-child(3) {
  background: #cd7f32;
}